# Jekyll & Build System
_site/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/
Gemfile
Gemfile.lock

# Tools & Compilers
node_modules/
tailwindcss.exe
tailwind.config.js
assets/css/tailwind-input.css

# Herramientas locales (scripts de utilidad)
_herramientas/

# Editor & IDEs
.vscode/
.ruby-lsp/

# Local Diagnostics
jekyll_log.txt
*.json
!package.json
!package-lock.json
!search.json
config_*.txt