footer#site-footer
	| Esta obra está bajo una #[a(href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="license") Licencia Creative Commons Atribución-NoComercial 4.0 Internacional].

// Contacto
div(class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true")
	.modal-dialog
		.modal-content
			.modal-header
				h5.modal-title Contacto
				button(type="button" class="close" data-dismiss="modal" aria-label="Close"): span(class="far fa-times-circle" aria-hidden="true")
			.modal-body
				p.text-center #[i.far.fa-address-card.fa-5x]
				p Puedes enviarme un correo electronico a la siguiente dirección: #[a(href="mailto:xavier.ocampos@gmail.com") xavier.ocampos@gmail.com] #[strong indicando en el asunto cual es el motivo de tu consulta]. 

script(src="components/bootstrap/js/custom.js")

// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
script(src="components/bootstrap/js/bootstrap.min.js")