// Twitter Integration
a(href="https://twitter.com/xavierocampos?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false") Follow @xavierocampos

a(class="twitter-timeline" data-height="420" href="https://twitter.com/xavierocampos?ref_src=twsrc%5Etfw") Tweets by xavierocampos

script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")