// Paypal
.widget.paypal
	p Haciendo una donación nos ayudas a mantener el sitio:
	script(type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js')
	<script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'I2I6242ZG');kofiwidget2.draw();</script> 

// Twitter Integration
.widget.twitter
	p.text-center #[a(href="https://twitter.com/xavierocampos?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false") Follow @xavierocampos]

	a(class="twitter-timeline" data-height="420" href="https://twitter.com/xavierocampos?ref_src=twsrc%5Etfw") Tweets by xavierocampos

	script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")