// Paypal
.widget.paypal
	p Haciendo una donación nos ayudas a mantener el sitio:
	a(href="https://www.paypal.com/paypalme/javierocampos" target="_blank" rel="noopener noreferrer")
		img(class="aligncenter" src="content/sidebar/paypal_logo.webp" alt="Paypal")

// Twitter Integration
.widget.twitter
	a(href="https://twitter.com/xavierocampos?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false") Follow @xavierocampos

	a(class="twitter-timeline" data-height="420" href="https://twitter.com/xavierocampos?ref_src=twsrc%5Etfw") Tweets by xavierocampos

	script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")