{% if site.disqus_shortname %}
<div id="disqus_trigger_container"
     data-shortname="{{ site.disqus_shortname }}"
     data-page-url="{{ page.url | absolute_url }}"
     data-page-id="{{ page.id }}"
     class="text-center">
    <button id="load_disqus_btn" class="btn-primary text-lg px-10 py-4">
        <i class="fas fa-comment"></i> Leer y dejar comentarios
    </button>
</div>

<div id="disqus_container" style="display: none;">
    <div id="disqus_thread"></div>
</div>

<script src="{{ '/assets/js/disqus.js' | relative_url }}" defer></script>
<noscript>Por favor, activa JavaScript para ver los <a href="https://disqus.com/?ref_noscript" target="_blank" rel="noopener">comentarios alojados por Disqus.</a></noscript>
{% endif %}
