{% if site.disqus_shortname %}
<div id="disqus_thread" class="mt-20 glass-card rounded-[3rem] p-8 md:p-12 border border-white/5 shadow-2xl"></div>
<script>
    var disqus_config = function () {
        this.page.url = "{{ page.url | absolute_url }}";
        this.page.identifier = "{{ page.id }}";
    };
    (function () {
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>
{% endif %}