<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Javo",
  "url": "{{ site.url }}/about/",
  "@id": "{{ site.url }}/about/#javo",
  "image": "{{ '/assets/img/ui/author-javo.webp' | absolute_url }}",
  "jobTitle": "Desarrollador de Videojuegos Independiente",
  "description": "{{ site.data.authors.javo.bio | escape }}",
  "sameAs": [
    "https://www.youtube.com/@Leedeo",
    "https://x.com/leedeostudio",
    "https://bsky.app/profile/leedeo.bsky.social",
    "https://ko-fi.com/leedeo",
    "https://www.tiktok.com/@leedeostudio",
    "https://www.instagram.com/leedeostudio/"
  ],
  "brand": {
    "@type": "Brand",
    "name": "Leedeo Studio",
    "logo": "{{ '/favicon.ico' | absolute_url }}"
  },
  "hasOccupation": {
    "@type": "Occupation",
    "name": "Desarrollador de Videojuegos"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ site.url }}/about/"
  }
}
</script>
