#site-info {
  background-color: darken($color_secondary, 15%);
  color: rgba(255, 255, 255, 0.6);
  padding: $gutter 0;
}

#hero-image {
  background-image: url("assets/img/hero-image.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  .logo {
    max-width: 260px;
  }

  .lead {
    color: rgba(255, 255, 255, 0.5);
  }

  .mockup {
    width: 100%;
    max-width: 400px;
  }

  .container {
    position: relative;
    z-index: 2;

    h1 {
      color: #fff;
      p {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
