.home {
	#content {
		.header-section {
			h2 {
				margin-bottom: $gutter * 1.5;
			}

			hr {
				max-width: 140px;
				height: 3px;
				margin: 0 auto;
				background-color: $color_secondary;
			}
		}

		#inspiring-phrases {
			background-image: url("sections/home/bg-ribbon.jpg");
			background-position: center center;
			background-size: cover;
			background-attachment: fixed;
			position: relative;

			blockquote,
			figcaption {
				position: relative;
				z-index: 1;
			}

			blockquote {
				color: #fff;
			}

			figcaption {
				color: rgba(255, 255, 255, 0.6);
			}

			&:after {
				content: "";
				background-color: rgba(33, 33, 33, 0.7);
				backdrop-filter: blur(3px);
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 0;
			}
		}

		#projects {
			/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b39ddb+0,ffffff+4&0.8+0,0+100 */
			background: -moz-linear-gradient(top, rgba(179, 157, 219, 0.8) 0%, rgba(255, 255, 255, 0.77) 4%, rgba(255, 255, 255, 0) 100%);
			/* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(179, 157, 219, 0.8) 0%, rgba(255, 255, 255, 0.77) 4%, rgba(255, 255, 255, 0) 100%);
			/* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(179, 157, 219, 0.8) 0%, rgba(255, 255, 255, 0.77) 4%, rgba(255, 255, 255, 0) 100%);
			/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccb39ddb', endColorstr='#00ffffff', GradientType=0);
			/* IE6-9 */

			.col {
				margin-bottom: $gutter * 2;
			}
		}
	}
}