.home {
	#content {
		.header-section {
			h2 {
				margin-bottom: $gutter * 1.5;
			}

			hr {
				max-width: 140px;
				height: 3px;
				margin: 0 auto;
				background-color: $color_secondary;
			}
		}

		#inspiring-phrases {
			background-image: url("sections/home/bg-ribbon.jpg");
			background-position: center center;
			background-size: cover;
			background-attachment: fixed;
			position: relative;

			blockquote, figcaption {
				position: relative;
				z-index: 1;
			}

			blockquote {
				color: #fff;
			}

			figcaption {
				color: rgba(255, 255, 255, 0.6);
			}

			&:after {
				content: "";
				background-color: rgba(33, 33, 33, 0.7);
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 0;
			}
		}

		#projects {
			.col {
				margin-bottom: $gutter * 2;
			}
		}
	}
}
