- let title_site = "Leedeo Studio, Acerca de"
- let title_page = "Acerca de"
- let description_page = "Conoce más acerca de Leedeo Studio"

doctype html
html
	include _variables.pug
	include layout/_head.pug

	body
		include layout/_navigation.pug
		include layout/_jumbotron.pug

		#content.container
			.row
				.col-sm-12.col-md-9
					p Soy Javier Ocampos, fundador de #[strong Leedeo Studio], marca que originalmente fue creada como un proyecto enfocado al desarrollo de sistemas web y que más tarde decidí extender para convertirlo en mi marca personal.

					p Mi intención es dar a conocer mis servicios como desarrollador web así como promover mis trabajos, no solo en el área del desarrollo web, área a la que me he dedicado profesionalmente desde hace más de 15 años, si no también como desarrollador de videojuegos independiente, #[strong donde quizás no tengo tanta experiencia pero pongo el doble de empeño.]

					h2 Conoce más

					.row
						.col-sm-12.col-md-6
							p Antes de nada, me van a permitir soltar el clásico discurso que no interesa absolutamente a nadie, pero aun así, uno debe sobreponerse ante las miradas incomodas de aburrimiento del público y decirlo igualmente.

							p #[img(src="content/acerca-de/aburrido.gif" alt="Aburrido")]

							p En mi infancia conocí los videojuegos en los ya prácticamente extintos salones arcade y desde entonces quede completamente fascinado con este mundo por la forma en la que se podía interactuar con la historia y formar parte de ella; ya de adulto #[strong estudie informática y telecomunicaciones con la finalidad de llegar a ser desarrollador de videojuegos], pero crecí en pleno “boom” de internet y dada la gran salida laboral en aquel entonces termine dedicándome al desarrollo web, no sin bastante esfuerzo déjenme decir, ya que no todos los proyectos son igual de motivantes ni se tiene la misma libertad creativa #[strong aunque uno deba dar siempre su mejor esfuerzo].

						.col-sm-12.col-md-6
							p Aunque tengo los conocimientos técnicos no me considero un programador como tal y aunque a muchos pueda parecerle raro o incluso ofensivo, no me gusta la programación, no obstante, aprovechando el creciente interés de la industria del videojuego en el sector independiente y la aparición de distintos medios de distribución digital decidí que no era tarde para cumplir un sueño de infancia, y aunque sea en forma de hobby poder crear mis propios videojuegos para compartir con el mundo.

							p Por esta razón fue que en mis ratos libre comencé a participar en comunidades de desarrollo independiente de videojuegos surgidas de distintos canales de Youtube como #[a(href="https://www.youtube.com/channel/UCBhkLrsmV9PVQMpT3qe-toA", target="_blank", rel="noopener noreferrer") #[strong Academia de videojuegos]] o #[a(href="https://www.youtube.com/channel/UCgJBHUEJEi7RkjCQx7xR4Wg", target="_blank", rel="noopener noreferrer") #[strong Escuela de Juegos]]; así fue como inicie por simple curiosidad con el popular #[a(href="https://www.unrealengine.com/en-US/", target="_blank", rel="noopener noreferrer") #[strong Unreal Engine]], pasando por #[a(href="https://unity.com/", target="_blank", rel="noopener noreferrer") #[strong Unity]] y más adelante #[a(href="https://godotengine.org/", target="_blank", rel="noopener noreferrer") #[strong Godot Engine]], proyecto en el que actualmente #[a(href="https://hosted.weblate.org/user/xavierocampos/", target="_blank", rel="noopener noreferrer") #[strong colaboro como traductor]] y reportando bugs (es un trabajo más laborioso de lo que creen, tenía que decirlo...).

							p Gracias a esto he ido conociendo gente que me ha aportado mucho en varios sentidos y a los que siempre estaré agradecido; por eso es que quise aportar mi granito de arena ofreciendo un espacio donde pudiéramos compartir todo aquello que consideremos relevante ¿llegara a buen puerto el proyecto? No lo sé, honestamente, eso tendremos que averiguarlo...

						blockquote #[p Los juegos nos desafían para un mejor uso de nuestras fortalezas y eliminan el miedo al fracaso, mejorando nuestras posibilidades de éxito. Los buenos juegos apoyan la cooperación social y la participación cívica a gran escala.]
							cite Jane McGonigal

				.col-sm-12.col-md-3

		include layout/_footer.pug