- let title_page = "Desarrollo web", description_page = "Impulsa tu proyecto en Internet."
- let class_jumbotron = "desarrollo-web"

doctype html
html
	include _variables
	include layout/_head

	body
		include layout/_navigation
		include layout/_jumbotron

		#content.container
			p En el mundo de la tecnología las tendencias cambian día con día y lo que ayer era completamente aceptable hoy puede haber quedado rezagado. En la actualidad vivimos en un mundo conectado a través de las distintas redes sociales, que vinieron para revolucionar los tradicionales medios de comunicación; tanto es así que disponer de un perfil en redes nos proporcionara un alcance mayor que las tradicionales páginas web ¿entonces por qué desarrollar una página web para nuestro proyecto? #[strong Porque sigue siendo un excelente escaparate para nuestro proyecto], pero gracias a la evolución de las redes sociales surgieron servicios en las que entre otras cosas podemos alojar de forma completamente gratuita un sitio web, como #[a(href="https://github.com/", target="_blank", rel="noopener noreferrer") #[strong GitHub]] - #[i propiedad de Microsoft] - que no es otra cosa más que una red social enfocada a desarrolladores para alojar y compartir proyectos, pero no cualquier red social, no, #[strong sino que se trata del mayor repositorio de proyectos Open Source que existe a nivel mundial].

			.row
				.col-sm-12.col-md-6
					h2 ¿Eso significa que no debo pagar alojamiento?

					p Es correcto, #[strong Leedeo Studio está alojada en GitHub de forma gratuita], el inconveniente - #[i si se puede llamar así en la actualidad] - es que debe tratarse de un proyecto construido en HTML. 

					p #[strong ¿Por qué en la actualidad esto no supone mayores inconvenientes?] Porque si necesitamos una tienda en línea para vender nuestros productos, o quizás contar con un blog donde escribir artículos de interés para nuestro público existen distintos servicios como #[a(href="https://www.amazon.com/", target="_blank", rel="noopener noreferrer") #[strong Amazon]], #[a(href="https://www.paypal.com/", target="_blank", rel="noopener noreferrer") #[strong Paypal]] o #[a(href="https://medium.com//", target="_blank", rel="noopener noreferrer") #[strong Medium]], solo por mencionar algunos que pueden ahorrarte costosos procesos de desarrollo; servicios donde no solo vamos a tener un mayor alcance, si no que en casos como Amazon nos solucionan el tema de la logística.

					blockquote #[p Un aspecto esencial de la creatividad es no tener miedo a fallar.]
						cite Dr. Edwin Land
					
					p Vivimos una época donde las personas empezamos a estar conscientes que en Internet #[strong cada cosa debe estar en el lugar correcto] y porque #[strong es muy probable que exista un lugar correcto para lo que queremos hacer]. 

				.col-sm-12.col-md-6
					h2 ¿De donde obtengo yo algún beneficio?

					p Eso es muy sencillo: #[strong De mi experiencia que pongo a tu disposición ¿te parece poco?] Déjame te explico entonces. 

					p Si decides confiar en mi puedo desarrollar tu sitio de forma eficiente haciendo uso de los recursos ya mencionados; puedo asesorarte para que tu proyecto obtenga los resultados deseados y no limitarme a ofrecer un servicio de hosting donde tu página será alojada y olvidada por tus proveedores, limitándose hacer lo que tú les pidas, como si tu fueras el experto/a y no ellos #[strong ¿para qué contratar un servicio profesional si no es para dejar tu proyecto en manos de profesionales que puedan guiarte en alcanzar tus metas?]

					blockquote #[p El cliente puede llegar a ser el rey, pero no es el director de arte.]
						cite Von R. Glitschka

					p Yo soy experto en mi área y tú en la tuya, por lo tanto, hagamos tándem, #[strong permíteme formar parte de tu equipo y llevar tu proyecto al siguiente nivel.]


		include layout/_footer.pug