- let title_page = "Desarrollo web", description_page = "Impulsa tu proyecto en Internet."
- let class_jumbotron = "desarrollo-web"

doctype html
html
	include _variables
	include layout/_head

	body
		include layout/_navigation
		include layout/_jumbotron

		#content.container

		include layout/_footer.pug