- let title_page = "Inicio"

doctype html
html
	include _variables
	include layout/_head

	body.home
		include layout/_navigation

		#content.container
			.row
				.col-sm-12.col-md-9
					#medium-widget
					script(src="https://medium-widget.pixelpoint.io/widget.js")
					<script>MediumWidget.Init({renderTo: '#medium-widget', params: {"resource":"https://medium.com/@javierocampos","postsPerLine":2,"limit":6,"picture":"big","fields":["description","author","claps","publishAt"],"ratio":"landscape"}})</script>

				.col-sm-12.col-md-3
					include layout/_sidebar
					
		include layout/_footer