body,
button,
input,
select,
textarea
  color: $color_text
	
blockquote
	padding: $gutter ($gutter * 2)
	margin: ($gutter * 2) 0
	@include font-size(1.0625)
	color: #757575
	border-left: 5px solid #eee

	footer,
	cite,
	small
		display: block
		font-size: 85%
		line-height: $font_line-height-pre
		color: $color_text